# Exploratory Data Analysis

In [1]:
import pandas as pd
df = pd.read_csv("./data/iris-with-header.tsv", delimiter='\t' )
df.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            5.0           3.6            1.4           0.2  Iris-setosa

## Describe data
Statistical description

In [2]:
df.mean(numeric_only=True)

SepalLengthCm    5.843333
SepalWidthCm     3.054000
PetalLengthCm    3.758667
PetalWidthCm     1.198667
dtype: float64

None of the features are centred around 0, i.e. `mean` != 0

`median` less sensitive to anomalour cases (outliers)

In [3]:
df.median(numeric_only=True)

SepalLengthCm    5.80
SepalWidthCm     3.00
PetalLengthCm    4.35
PetalWidthCm     1.30
dtype: float64

`mean` and `median` of `PetalLengthCm` is very different -> investigate.

In [4]:
df.std(numeric_only=True)

SepalLengthCm    0.828066
SepalWidthCm     0.433594
PetalLengthCm    1.764420
PetalWidthCm     0.763161
dtype: float64

In [5]:
df.max(numeric_only=True) - df.min(numeric_only=True)

SepalLengthCm    3.6
SepalWidthCm     2.4
PetalLengthCm    5.9
PetalWidthCm     2.4
dtype: float64

In [6]:
df.describe()

       SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count     150.000000    150.000000     150.000000    150.000000
mean        5.843333      3.054000       3.758667      1.198667
std         0.828066      0.433594       1.764420      0.763161
min         4.300000      2.000000       1.000000      0.100000
25%         5.100000      2.800000       1.600000      0.300000
50%         5.800000      3.000000       4.350000      1.300000
75%         6.400000      3.300000       5.100000      1.800000
max         7.900000      4.400000       6.900000      2.500000

See **box plot** in `visualisation.ipynb`

## Describe data
- Statiscial Description
- Distribution

**Univariate** : considering each feature on stand-alone

**Bivariate** : relationship of pair of variables

**Multivariate** : simultaneously consider all variables

## t-test

## Relations between variables

## Notice the unusual

## Data grouping
- Group difference

## Create new features